.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container__login {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.input {
  padding: 10px;
  border-color: #8492a6;
  border-width: 1px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.button {
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.button--success {
  background-color: #77d353;
  color: #fff;
}

.link {
  text-decoration: none;
  text-align: center;
  color: #969faa;
}
